.navbar {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0 0 0;
}

.navbar .logo {
  display: flex;
}
.navbar .logo img {
  display: inline-block;
  max-width: 240px;
}

.navbar nav ul {
  display: flex;
  align-items: center;
  margin: 12px auto;
  gap: 2rem;
}
.navbar nav ul li {
  margin: 12px auto;
}

.navbar nav ul li a span:hover {
  color: var(--main-clr);
}
.navbar nav ul li a {
  font-size: 2rem;
  font-weight: 600;
  color: #474747;
}
.navbar nav ul .github {
  color: white;
}
.navbar nav ul .github .github_icon {
  padding-right: 1rem;
}
.navbar nav ul li a:hover {
  color: var(--main-clr);
  transition: 0.1s ease-in-out;
}

header {
  width: 100%;
}
header hr {
  border: 1px solid lightgray;
}

header .main {
  display: flex;
  justify-content: space-between;
}

header .main .text-content {
  padding: 5rem 0;
  flex: 60%;
}
header .main .text-content span:nth-child(1) {
  font-size: 1.8rem;
}
header .main .text-content span:nth-child(2) {
  font-size: 3.3rem;
}
header .main .text-content span:nth-child(3) {
  font-size: 8.2rem;
  font-weight: 900;
  background: -webkit-linear-gradient(135deg, var(--main-clr), #ffa127);
  background: -moz-linear-gradient(135deg, var(--main-clr), #ffa127);
  background: -o-linear-gradient(135deg, var(--main-clr), #ffa127);
  background: linear-gradient(135deg, var(--main-clr), #ffa127);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

header .main .text-content h1 {
  font-size: 10rem;
  margin-left: 135px;
  margin-top: -3rem;
}

header .main .text-content p {
  margin: 2rem 4rem 2rem 0;
  border: 2px solid #ecebeb;
  border-radius: 1rem;
  padding: 2.5rem;
  font-size: 2.3rem;
  font-weight: 300;
  background: #f7f6f6;
}
header .main .text-content a {
  display: inline-block;
  margin-top: 2rem;
  padding: 1.8rem 2.4rem;
  font-size: 2.1rem;
  font-weight: 500;
}

header .main .main-img {
  flex: 40%;
}

header .main .main-img div img {
  width: 100%;
}

header .social-icon {
  text-align: center;
  padding: 3rem 0;
}

header .social-icon a {
  display: inline-block;
  margin: 0 1rem;
  transition: 0.1s ease-in;
}
header .social-icon a:hover {
  color: var(--main-clr);
}
