.footer_part {
  text-align: center;
  background: #f1f1f1;
  padding: 4rem 0 0 0;
  margin-top: 10rem;
}
.footer_part .logo {
  font-size: 2.5rem;
  margin: 3rem 0;
}
.footer_part .social_links {
  padding: 3rem 0;
}
.footer_part .social_links a {
  margin: 0 1rem;
  transition: 0.2s ease-in-out;
}
.footer_part .social_links a:hover {
  color: var(--main-clr);
}

.menus ul {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.menus ul li a {
  font-size: 1.8rem;
  transition: 0.2s ease-in-out;
}
.menus ul li a:hover {
  color: var(--main-clr);
}
.footer {
  background: #545454;
  text-align: center;
  padding: 1.5rem 0;
}
.footer p {
  color: var(--white-clr);
}
.footer p span {
  color: var(--main-clr);
  margin: 0 0.5rem;
  font-size: 1.8rem;
}
